<%= form_for(@type_person) do |f| %>
  <% if @type_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_person.errors.count, "error") %> prohibited this type_person from being saved:</h2>

      <ul>
      <% @type_person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ntypeperson %><br />
    <%= f.text_field :ntypeperson %>
  </div>
  <div class="field">
    <%= f.label :sdesctypeperson %><br />
    <%= f.text_field :sdesctypeperson %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
