<p id="notice"><%= notice %></p>

<p>
  <b>Ntypeperson:</b>
  <%= @type_person.ntypeperson %>
</p>

<p>
  <b>Sdesctypeperson:</b>
  <%= @type_person.sdesctypeperson %>
</p>


<%= link_to 'Edit', edit_type_person_path(@type_person) %> |
<%= link_to 'Back', type_people_path %>
