<h1>Listing group_members</h1>

<table>
  <tr>
    <th>User</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_members.each do |group_member| %>
  <tr>
    <td><%= group_member.user %></td>
    <td><%= group_member.group %></td>
    <td><%= link_to 'Show', group_member %></td>
    <td><%= link_to 'Edit', edit_group_member_path(group_member) %></td>
    <td><%= link_to 'Destroy', group_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group member', new_group_member_path %>
