<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :dni %><br />
    <%= f.text_field :dni %>
  </div>
  <div class="field">
    <%= f.label :tui %><br />
    <%= f.text_field :tui %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= select_tag(:city_id, options_for_select([['Masculino', 'm'], ['Femenino', 'f']], 2)) %>
  </div>
  <div class="field">
    <%= f.label :givenname %><br />
    <%= f.text_field :givenname %>
  </div>
  <div class="field">
    <%= f.label :lastname1 %><br />
    <%= f.text_field :lastname1 %>
  </div>
  <div class="field">
    <%= f.label :lastname2 %><br />
    <%= f.text_field :lastname2 %>
  </div>
  <div class="field">
    <%= f.label :usertype %><br />
    <%= f.collection_select :usertype_id, Usertype.all, :id, :name, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
