<p id="notice"><%= notice %></p>

<p>
  <b>Stypedocum:</b>
  <%= @user.stypedocum %>
</p>

<p>
  <b>Snumdocum:</b>
  <%= @user.snumdocum %>
</p>

<p>
  <b>Sfirstname:</b>
  <%= @user.sfirstname %>
</p>

<p>
  <b>Slastname1:</b>
  <%= @user.slastname1 %>
</p>

<p>
  <b>Slastname2:</b>
  <%= @user.slastname2 %>
</p>

<p>
  <b>Ssex:</b>
  <%= @user.ssex %>
</p>

<p>
  <b>Semail:</b>
  <%= @user.semail %>
</p>

<p>
  <b>Spassword:</b>
  <%= @user.spassword %>
</p>

<p>
  <b>Type person:</b>
  <%= @user.type_person %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
