<%= form_for(@lounge) do |f| %>
  <% if @lounge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lounge.errors.count, "error") %> prohibited this lounge from being saved:</h2>

      <ul>
      <% @lounge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :direction %><br />
    <%= f.text_field :direction %>
  </div>
  <div class="field">
    <%= f.label :geolocation %><br />
    <%= f.text_field :geolocation %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :distrito %><br />
    <%= f.text_field :distrito %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
